@charset "UTF-8";

* {
  font-family: cursive;
}

body {
  background-image: linear-gradient(to right, #2e736c, #61f2e4);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #131b1a; /* Sombra pro Lado/ Pra Baixo/ "Força da sombra"/ Cor(Transparência) */
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #3d5754;
  text-align: center;
  text-shadow: 1px 1px 2px #2f4240a2;
}

h2 {
  color: #2e736c;
}

p {
  text-align: justify;
}
